<div class="container-fluid">
  <p class="lead">
    <%= @post["content"] %>
  </p>
  <div class="text-right">
    <p>
      <small>Created at: <i><%= @post["created_date"] %></i> - <strong><%= @post["author"] %></strong></small>
    </p>
  </div>
  <hr>
</div>
<form action="/post/<%= @post["id"] %>" method="post" role="form">
  <textarea name="comment" class="form-control" rows="3" placeholder="Type text here..." required></textarea>
  <br>
  <button type="submit" class="btn btn-primary btn-lg">Submit Comment</button>
</form>
<br>
<h5>Comments:</h5>
<% @comments.each do |comment|%>
  <blockquote>
    <p><%= comment["content"] %></p>
    <small>Commented at: <i><%= comment["created_date"] %></i></small>
  </blockquote>
  <hr>
<%end%>
